.header{
    position: relative;
    z-index: 1000;
    height: 70px;
    box-sizing: border-box;
    background: #242424;
    border-bottom: 1px solid #000;
    .logo{
        width: 130px;
        padding: 8px;
        img{
            display: block;
            width: 100%;
        }
    }
    .navLink{
        padding: 0 19px;
        text-align: center;
        line-height: 70px;
        color: #ccc;
        height: 70px;
        font-size: 14px;
        &.selected{
            background: #000;
            color: #fff;
        }
    }
    .search_wrap{
        width: 178px;
        height: 32px;
        margin-top: 19px;
        margin-right: 20px;
    }
    .login{
        margin: 19px 0 0 12px;
        line-height: 33px;
        color: #787878;
    }

    .ant-menu-vertical .ant-menu-submenu-title{ margin: 0; padding: 0;}
    .ant-menu-submenu-title{ padding: 0;}
    .ant-menu-horizontal{ border: none; background: none;}
    .ant-menu-horizontal>.ant-menu-submenu{border: none;}
    .ant-menu-horizontal>.ant-menu-submenu:hover{border: none;}
    .ant-menu-submenu>.ant-menu{ min-width: 100px; margin-right: 50px;}
}